{
  "presets": [
    "stage-0"
  ],
  "plugins": ["transform-export-extensions", "add-module-exports", "transform-class-properties", "transform-object-rest-spread", "transform-es2015-modules-commonjs"]
}
